include partials/abstracts/bemto/bemto.pug
include partials/components/_header.pug
include partials/components/_nav.pug
include partials/components/_trends.pug
include partials/components/_speakers.pug
include partials/components/_programme.pug
include partials/components/_partners.pug
include partials/components/_address.pug
include partials/components/_form.pug
include partials/components/_footer.pug


doctype
html(lang='ru', prefix='og: http://ogp.me/ns#')

  include partials/components/_head.pug

  body.index

    +header()
      +e.H1.title В Питере — Революция? В Питере — Эволюция!
      +e.text
        p Революция сегодня — развитие технологий и высокая скорость движения в будущее.
        p Грани между революцией и эволюцией больше не существует.
    +nav()

    main
      // Trends
      +trends()
      // Speakers
      +speakers()
      // Programme
      +programme()
      // Partners
      +partners()
      // Address
      +address()
      // Form
      +form()

    +footer()

    script(src='js/script.min.js')
    script(src='//api-maps.yandex.ru/2.1/?lang=ru_RU')



