include partials/abstracts/bemto/bemto.pug
include partials/components/_header.pug


doctype
html(lang='ru', prefix='og: http://ogp.me/ns#')

  include partials/components/_head.pug

  body.entrance

    +header()

    // Footer entrance
    +b.FOOTER.footer-entrance
      .container
        +e.copyright 2017 © RRC REvolution Forum. Санкт-Петербург.

    script(src='js/script.min.js')






