.footer{
  padding: 35px 0 0;
  background-image: $blue-gradient;
  &__inner{
    font-size: 0;
    padding-bottom: 30px;
  }
  &__block{
    display: inline-block;
    width: 25%;
    padding-left: 50px;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      top: 3px;
      left: 0;
    }
    &:nth-of-type(1){
      &:before{
        @include sprite($s-social-fb);
      }
    }
    &:nth-of-type(2){
      &:before{
        @include sprite($s-social-tel);
      }
    }
    &:nth-of-type(3){
      &:before{
        @include sprite($s-social-email);
      }
    }
    &:nth-of-type(4){
      &:before{
        @include sprite($s-download);
      }
      p:last-of-type{
        a{
          margin-right: 5px;
        }
        a:first-of-type{
          &:before{
            content: '';
            display: inline-block;
            vertical-align: text-bottom;
            margin-right: 5px;
            @include sprite($s-app-android);
          }
        }
        a:last-of-type{
          &:before{
            content: '';
            display: inline-block;
            vertical-align: text-bottom;
            margin-right: 5px;
            @include sprite($s-app-ios);
          }
        }
      }
    }

    p{
      margin: 0;
      color: #bfd4ed;
      a{
        color: #fff;
        &:hover, &:focus{
          color: #d9ebff;
        }
        span{
          font-weight: bold;
        }
      }
    }
    p:first-of-type{
      font-size: 11px;
      line-height: (22/11);
    }
    p:last-of-type{
      font-size: 13px;
      line-height: (22/13);
    }
  }

  &__copyright{
    border-top: 1px solid #8baad9;
    padding: 15px 0 20px;
    text-align: center;
    color: #fff;
    font-size: 11px;
    line-height: 2;
  }
}



.footer-entrance{
  position: fixed;
  z-index: 2;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  &__copyright{
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 11px;
    line-height: 2;
    color: #666;
    padding: 10px 0;
  }
}
