.header{
  background-image: $blue-gradient;
  height: 665px;
  &__container{
    position: relative;
  }
  &__bg{
    position: absolute;
    top: -20px;
    left: -15px;
    width: calc(100% + 30px);
    height: 665px;
    background-repeat: no-repeat;
    // background-image: url(../img/logo-rrc.png),
    //                   url(../img/header-date.png),
    //                   url(../img/logo.png),
    //                   url(../img/header-partners.png),
    //                   url(../img/aurora-bg.png);
    // background-position:  0px 50px,
    //                       130px 175px,
    //                       0px 215px,
    //                       675px 65px,
    //                       350px 150px;
    // background-size:  auto,
    //                   auto,
    //                   auto,
    //                   auto,
    //                   660px 430px;
  }
  &__rrc{
    position: absolute;
    left: 0;
    top: 50px;
    background-repeat: no-repeat;
    background-image: url(../img/logo-rrc.png);
    background-size: auto;
    width: 240px;
    height: 86px;
  }
  &__date{
    position: absolute;
    left: 130px;
    top: 175px;
    background-repeat: no-repeat;
    background-image: url(../img/header-date.png);
    background-size: auto;
    width: 253px;
    height: 22px;
  }
  &__forum{
    position: absolute;
    left: 0;
    top: 215px;
    background-repeat: no-repeat;
    background-image: url(../img/logo.png);
    background-size: auto;
    width: 384px;
    height: 166px;
  }
  &__partners{
    position: absolute;
    left: 675px;
    top: 65px;
    background-repeat: no-repeat;
    background-image: url(../img/header-partners.png);
    background-size: auto;
    width: 244px;
    height: 51px;
  }
  &__aurora{
    position: absolute;
    left: 220px;
    top: 165px;
    background-repeat: no-repeat;
    background-image: url(../img/aurora-pic.png);
    background-size: 760px 420px;
    width: 796px;
    height: 431px;
    opacity: 0.7;
  }

  &__city{
    padding-top: 420px;
    position: relative;
    left: -30px;
  }
  &__title{
    margin: 0;
    color: $white;
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 1;
    text-align: center;
    padding: 530px 0 20px;
  }
  &__text{
    color: $white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: (26/16);
    text-align: center;
    p{
      margin: 0;
    }
  }
}
.city-choice{
  max-width: 380px;
  &__header{
    background-image: $grey-gradient;
    border-radius: 10px 10px 0 0;
    padding: 17px 25px 12px;
    font-weight: bold;
    font-size: 17px;
  }
  &__body{
    border-radius: 0 0 10px 10px;
    background-color: rgba($dark-blue, 0.8);
    padding: 25px 25px 30px;
    .btn{
      display: inline-block;
      line-height: 39px;
      text-align: center;
      color: $white;
      font-size: 15px;
      font-weight: bold;
      transition: none;
    }
    .btn:first-of-type{
      @include sprite($s-btn-spb);
      margin-right: 20px;
      &:hover, &:focus{
        @include sprite($s-btn-spb-hover);
      }
    }
    .btn:last-of-type{
      @include sprite($s-btn-another);
      &:hover, &:focus{
        @include sprite($s-btn-another-hover);
      }
    }
  }
}




.entrance .header{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: auto;
  &__inner{
    top: 0;
    height: 100vh;
  }
}
