.header{
  background-image: $blue-gradient;
  height: 665px;
  &__container{
    position: relative;
  }
  &__inner{
    position: absolute;
    top: -20px;
    left: -15px;
    width: calc(100% + 30px);
    height: 665px;
    background-repeat: no-repeat;
    background-image: url(../img/logo-rrc.png),
                      url(../img/header-date.png),
                      url(../img/logo.png),
                      url(../img/header-partners.png),
                      url(../img/aurora-bg.png);
    background-position:  0px 50px,
                          130px 175px,
                          0px 215px,
                          675px 65px,
                          350px 150px;
    background-size:  auto,
                      auto,
                      auto,
                      auto,
                      660px 430px;
  }
  &__city{
    padding-top: 420px;
    position: relative;
    left: -30px;
  }

  &__title{
    margin: 0;
    color: $white;
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 1;
    text-align: center;
    padding: 530px 0 20px;
  }
  &__text{
    color: $white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: (26/16);
    text-align: center;
    p{
      margin: 0;
    }
  }
}
.city-choice{
  max-width: 380px;
  &__header{
    background-image: $grey-gradient;
    border-radius: 10px 10px 0 0;
    padding: 17px 25px 12px;
    font-weight: bold;
    font-size: 17px;
  }
  &__body{
    border-radius: 0 0 10px 10px;
    background-color: rgba($dark-blue, 0.9);
    padding: 25px 25px 30px;
    .btn{
      display: inline-block;
      line-height: 39px;
      text-align: center;
      color: $white;
      font-size: 15px;
      font-weight: bold;
    }
    .btn:first-of-type{
      @include sprite($s-btn-spb);
      margin-right: 20px;
    }
    .btn:last-of-type{
      @include sprite($s-btn-another);
    }
  }
}




.entrance .header{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: auto;
  &__inner{
    top: 0;
    height: 100vh;
  }
}
