.header{
  background-image: $blue-gradient;
  // height: 665px;
  &__container{
    position: relative;
    height: 665px;
    @media (max-width: $screen-xl){
      height: 590px;
    }
    @media (max-width: $screen-md){
      height: 500px;
    }
  }
  &__upper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 170px;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto;
    background-image: url(../img/logo-rrc.png), url(../img/header-partners.png);
    background-position: left, right;
    @media (max-width: $screen-xl){
      background-position: 40px, right 40px top 50%;
    }
    @media (max-width: $screen-md){
      background-size: 40%, 40%;
      background-position: 20px, right 20px top 50%;
      height: 80px;
    }
  }




  &__bg{
    pointer-events: none;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -15px;
    width: calc(100% + 30px);
    height: 100%;
    @media (max-width: $screen-xl){
      width: 100%;
      left: 0;
    }
  }
  &__date{
    position: absolute;
    top: 175px;
    left: 130px;
    background-repeat: no-repeat;
    background-image: url(../img/header-date.png);
    background-size: auto;
    width: 253px;
    height: 22px;
    @media (max-width: $screen-xl){
      top: 24%;
      left: 12%;
    }
    @media (max-width: $screen-md){
      width: 38%;
      top: 17%;
      left: 23%;
      background-size: 100%;
    }
  }
  &__forum{
    position: absolute;
    left: 0;
    top: 215px;
    background-repeat: no-repeat;
    background-image: url(../img/logo.png);
    background-size: auto;
    width: 384px;
    height: 166px;
    @media (max-width: $screen-xl){
      width: 40%;
      height: 60%;
      top: 30%;
      left: 5%;
      background-size: 100%;
    }
    @media (max-width: $screen-md){
      top: 20%;
      width: 56%;
    }
  }
  &__aurora{
    position: absolute;
    pointer-events: none;
    right: -65px;
    top: 165px;
    background-repeat: no-repeat;
    background-image: url(../img/aurora-pic.png);
    background-size: 760px 420px;
    width: 796px;
    height: 431px;
    opacity: 0.7;
    @media (max-width: $screen-xl){
      width: 80%;
      height: 60%;
      top: 22%;
      right: 0;
      background-size: 100%;
    }
    @media (max-width: $screen-md){
      right: -10%;
      width: 95%;
      top: 22%;
    }
  }


  &__city{
    display: none;
    padding-top: 420px;
    @media (max-width: $screen-xl){
      padding-left: 30px;
      padding-right: 30px;
    }
    @media (max-width: $screen-md){
      padding-top: 0;
      padding-left: 20px;
      padding-right: 20px;
      position: relative;
      top: 40%;
    }
  }
  &__title{
    margin: 0;
    color: $white;
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 1;
    text-align: center;
    padding: 530px 0 20px;
    @media (max-width: $screen-xl){
      padding: 465px 0 15px;
    }
    @media (max-width: $screen-md){
      padding: 300px 0 10px;
      font-size: 22px;
      line-height: (28/22);
    }
  }
  &__text{
    color: $white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: (26/16);
    text-align: center;
    @media (max-width: $screen-md){
      font-size: 13px;
      line-height: (20/13);
    }

    p{
      margin: 0;
    }
  }
}
.city-choice{
  max-width: 380px;
  @media (max-width: $screen-md){
    max-width: 280px;
  }

  &__header{
    background-image: $grey-gradient;
    border-radius: 10px 10px 0 0;
    padding: 17px 25px 12px;
    font-weight: bold;
    font-size: 17px;
    @media (max-width: $screen-md){
      font-size: 14px;
      padding: 10px 15px;
      border-radius: 5px 5px 0 0;
    }
  }
  &__body{
    border-radius: 0 0 10px 10px;
    background-color: rgba($dark-blue, 0.8);
    padding: 25px 25px 30px;
    @media (max-width: $screen-md){
      padding: 20px 20px;
      border-radius: 0 0 5px 5px;
    }

    .btn{
      display: inline-block;
      line-height: 39px;
      text-align: center;
      color: $white;
      font-size: 15px;
      font-weight: bold;
      transition: none;
      @media (max-width: $screen-md){
        transform: scale(0.8);
        margin: 0 -20px;
      }
    }
    .btn:first-of-type{
      @include sprite($s-btn-spb);
      margin-right: 20px;
      @media (max-width: $screen-md){
        margin-right: 0;
      }
      &:hover, &:focus{
        @include sprite($s-btn-spb-hover);
      }
    }
    .btn:last-of-type{
      @include sprite($s-btn-another);
      &:hover, &:focus{
        @include sprite($s-btn-another-hover);
      }
    }
  }
}




.entrance .header{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: auto;
  &__container{
    // top: 0;
    height: 100vh;
  }
  &__city{
    display: block;
  }
  &__bg{
    pointer-events: auto;
  }
}
