.overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  width: 100%;
  height: 100%;

  &__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    background-color: rgba(0,0,0,.7);
    cursor: pointer;
  }
  &__inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    width: 100%;
    // max-width: 750px;
    max-width: 1000px;
    background-color: $white;
    @media (max-width: $screen-xl){
      max-width: 710px;
    }
    @media (max-width: $screen-md){
      max-width: 300px;
    }
  }
}

.popup{
  display: none;
  position: relative;
  &__title{
    margin: 0;
    padding: 10px 50px 10px 20px;
    color: #fff;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    background-image: $blue-gradient;
    @media (max-width: $screen-md){
      font-size: 14px;
      padding: 5px 30px 5px 10px;
    }
  }
  &__close{
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    z-index: 10;
    top: 5px;
    right: 5px;
    &:before, &:after{
      content: '';
      width: 22px;
      height: 3px;
      background-color: #fff;
      position: absolute;
      top: 12px;
      right: 2px;
      @media (max-width: $screen-md){
        top: 7px;
        height: 2px;
        right: 0;
        width: 20px;
      }
    }
    &:before{
      transform: rotate(-45deg);
    }
    &:after{
      transform: rotate(45deg);
    }
  }
  &__text-wrapper{
    padding: 5px 15px;
    font-size: 0;
    @media (max-width: $screen-md){
      padding: 5px 10px;
    }
  }
  &__info{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    font-size: 13px;
    line-height: (24/13);
    @media (max-width: $screen-md){
      width: 100%;
    }
    p{
      span{
        color: #666;
      }
      @media (max-width: $screen-md){
        margin: 0;
      }
    }
  }
  &__text{
    display: inline-block;
    vertical-align: top;
    width: 70%;
    font-size: 14px;
    line-height: (20/14);
    @media (max-width: $screen-md){
      width: 100%;
      font-size: 12px;
      max-height: 200px;
      overflow-y: auto;
    }
  }
  &__img{
    height: 400px;
    width: 100%;
    img{
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
    @media (max-width: $screen-md){
      height: 140px;
    }
  }
  &__frame{
    height: 80vh;
    // @media (max-width: $screen-md){

    // }
  }
  &__address{
    background-color: #eaeaea;
    padding: 0 20px;
    @media (max-width: $screen-md){
      padding: 0;
    }
  }
}
