// .programme{

// }

.programme-forum{
  padding: 40px 0 35px;
  background-color: #e7e7e7;
  @media (max-width: $screen-xl){
    padding: 30px 0 35px;
  }
  @media (max-width: $screen-md){
    padding: 20px 0 25px;
  }

  &__title{
    margin: 0 0 40px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 26px;
    line-height: (31/26);
    font-weight: normal;
    text-align: center;
    @media (max-width: $screen-xl){
      font-family: Calibri, sans-serif;
      margin: 0 0 30px;
    }
    @media (max-width: $screen-md){
      font-size: 20px;
      line-height: (24/20);
      font-weight: bold;
      margin: 0 0 15px;
    }
  }
  &__blocks{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  &__link-wrapper{
    text-align: center;
    margin-top: 20px;
    @media (max-width: $screen-md){
      margin-top: 0;
    }
  }
  &__link{
    background-image: linear-gradient( 0deg, rgb(231,231,231) 0%, rgb(217,217,217) 100%);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
    color: #494848;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    line-height: (23/14);
    padding: 5px 15px;
    display: inline-block;
    &:before{
      content: '';
      display: inline-block;
      vertical-align: text-bottom;
      @include sprite($s-print);
      margin-right: 5px;
    }
    &:hover, &:focus{
      color: #fff;
      background-image: none;
      background-color: #5668aa;
      border: 1px solid #fff;
      &:before{
        @include sprite($s-print-hover);
      }
    }
  }
}
.forum-block{
  padding: 0 15px;
  margin-bottom: 20px;
  flex: 0 0 100%;
  max-width: 100%;
  &:nth-of-type(1) {
    .forum-block__text{
      line-height: (20/14);
    }
  }
  &:nth-of-type(3),
  &:nth-of-type(4),
  &:nth-of-type(5) {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    @media (max-width: $screen-md){
      flex: 0 0 100%;
      max-width: 100%;
    }

    .date{
      display: block;
    }
    .forum-block__text{
      line-height: (26/14);
      @media (max-width: $screen-md){
        line-height: (20/13);
      }
    }
  }
  &__inner{
    // clear: both;
    background-color: #fff;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
    &:after{
      content: '';
      display: table;
      width: 100%;
      clear: both;
    }
  }
  &__title{
    margin: 0;
    background-image: $blue-gradient;
    color: #fff;
    text-align: center;
    font-size: 15px;
    line-height: (27/15);
    font-family: Roboto, Arial, sans-serif;
    font-weight: normal;
  }
  &__text{
    padding: 16px 20px;
    font-size: 14px;
    line-height: (31/14);
    @media (max-width: $screen-xl){
      padding: 12px 20px;
    }
    @media (max-width: $screen-md){
      font-size: 13px;
      line-height: (20/13);
      padding: 5px 10px;
    }

    p{
      margin: 0;
      @media (max-width: $screen-md){
        margin: 5px 0;
      }
    }
    .date{
      color: #339900;
      font-size: 13px;
      font-weight: bold;
      margin-right: 10px;
      @media (max-width: $screen-md){
        display: block;
      }
    }
  }
  &__img{
    width: 275px;
    height: 150px;
    float: right;
    margin-top: -5px;
    margin-right: -5px;
    margin-bottom: 10px;
    @media (max-width: $screen-xl){
      width: 200px;
      height: 100px;
      margin-right: -15px;
      margin-bottom: 15px;
    }
    @media (max-width: $screen-md){
      float: none;
      width: 100%;
      height: 150px;
      margin: 10px 0 0;
    }
  }
}

.programme-culture{
  position: relative;
  padding: 55px 0 80px;
  background-color: #598bbf;
  @media (max-width: $screen-xl){
    padding: 30px 0 50px;
  }
  @media (max-width: $screen-md){
    padding: 20px 0 30px;
  }

  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-image: linear-gradient( 90deg, #7085c6 0%, #9ad5f6 50%, #7085c6 100%);
  }

  &__title{
    margin: 0 0 65px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 26px;
    line-height: (31/26);
    font-weight: normal;
    text-align: center;
    color: #fff;
    @media (max-width: $screen-xl){
      margin: 0 0 40px;
      font-size: 23px;
    }
    @media (max-width: $screen-md){
      margin: 0 0 20px;
      font-size: 16px;
      line-height: (22/16);
    }
  }

  &__blocks{
    font-size: 0;
    margin: 0 -5px;
    @media (max-width: $screen-md){
      margin: 0;
      padding: 0 10px;
    }
  }
}


.culture-block{
  height: 147px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  @media (max-width: $screen-xl){
    height: 155px;
  }
  @media (max-width: $screen-md){
    height: 100px;
    width: 100% !important;
    margin-bottom: 5px;
  }

  &:nth-of-type(1){
    // flex: 0 0 247px;
    width: 247px;
    background-image: url('../img/thumbs/banner1.jpg');
    @media (max-width: $screen-xl){
      width: 262px;
    }
  }
  &:nth-of-type(2){
    // flex: 0 0 185px;
    width: 185px;
    background-image: url('../img/thumbs/banner2.jpg');
    @media (max-width: $screen-xl){
      width: 196px;
    }
  }
  &:nth-of-type(3){
    // flex: 0 0 245px;
    width: 245px;
    background-image: url('../img/thumbs/banner3.jpg');
    @media (max-width: $screen-xl){
      width: 262px;
      margin-right: 0;
    }
  }
  &:nth-of-type(4){
    // flex: 0 0 192px;
    width: 192px;
    background-image: url('../img/thumbs/banner4.jpg');
    margin-right: 0;
    @media (max-width: $screen-xl){
      width: 262px;
      margin-right: 10px;
    }
  }
  &:nth-of-type(5){
    // flex: 0 0 247px;
    width: 185px;
    background-image: url('../img/thumbs/banner5.jpg');
    @media (max-width: $screen-xl){
      width: 196px;
      margin-right: 10px;
    }
  }
  &:nth-of-type(6){
    // flex: 0 0 185px;
    width: 247px;
    background-image: url('../img/thumbs/banner6.jpg');
    @media (max-width: $screen-xl){
      width: 262px;
      margin-right: 0;
    }
  }
  &:nth-of-type(7){
    // flex: 0 0 245px;
    width: 192px;
    background-image: url('../img/thumbs/banner7.jpg');
    @media (max-width: $screen-xl){
      width: 360px;
    }
  }
  &:nth-of-type(8){
    // flex: 0 0 192px;
    width: 245px;
    background-image: url('../img/thumbs/banner8.jpg');
    margin-right: 0;
    @media (max-width: $screen-xl){
      width: 370px;
    }
  }

  &:hover, &:focus{
    color: #cccccc;
    box-shadow: 0px 3px 18px 0px rgba(#8ec1ff, 0.75);
  }

  &__title{
    font-family: Roboto, Arial, sans-serif;
    font-size: 17px;
    line-height: (22/17);
    margin: 10px 13px;
  }
}
