.trends{
  padding: 55px 0 30px;
  @media (max-width: $screen-xl){
    padding: 30px 0 0;
  }
  @media (max-width: $screen-md){
    padding: 35px 0 0;
  }
  .container{
    @media (max-width: $screen-md){
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__title{
    margin: 0 0 60px;
    font-family: Calibri, sans-serif;
    font-size: 26px;
    line-height: (31/26);
    font-weight: normal;
    text-align: center;
    @media (max-width: $screen-xl){
      margin: 0 0 35px;
    }
    @media (max-width: $screen-md){
      margin: 0 0 20px;
      font-size: 14px;
      line-height: (22/14);
    }
    span{
      @media (max-width: $screen-md){
        display: block;
        font-weight: bold;
        font-size: 20px;
        line-height: (22/20);
      }
    }
  }
  &__inner{
    background-color: #e8e8e8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__facts{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    flex: 1 1 auto;
    border-right: 2px solid #fff;
    @media (max-width: $screen-xl){
      flex: 0 0 50%;
    }
    @media (max-width: $screen-md){
      flex: 0 0 100%;
      border-right: none;
    }
  }
  &__fact-item{
    padding: 22px 10px 22px 80px;
    border-bottom: 1px solid #d5d5d5;
    border-top: 1px solid #fff;
    position: relative;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: (26/15);
    @media (max-width: $screen-xl){
      line-height: (23/15);
    }
    @media (max-width: $screen-xl){
      font-size: 14px;
      line-height: (23/14);
    }

    &:before{
      content: '';
      margin-right: 10px;
      position: absolute;
      top: 50%;
      left: 40px;
      transform: translate(-50%, -50%);
    }

    &:nth-of-type(1){
      &:before{
        @include sprite($s-trend1);
      }
    }
    &:nth-of-type(2){
      &:before{
        @include sprite($s-trend2);
      }
    }
    &:nth-of-type(3){
      &:before{
        @include sprite($s-trend3);
      }
    }
    &:nth-of-type(4){
      &:before{
        @include sprite($s-trend4);
      }
    }
    &:nth-of-type(5){
      &:before{
        @include sprite($s-trend5);
      }
    }
  }
  &__place{
    background-color: #5b80be;
    @media (max-width: $screen-xl){
      flex: 0 0 50%;
    }
    @media (max-width: $screen-md){
      flex: 0 0 100%;
      padding-bottom: 10px;
    }
  }
  &__img{
    img{
      @media (max-width: $screen-xl){
        width: 100%;
      }
    }
  }
  &__address{
    padding-top: 15px;
    border-top: 2px solid #fff;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;

    p{
      margin: 0;
    }
    p:nth-of-type(1){
      font-weight: bold;
      font-size: 12px;
      line-height: (22/12);
      &:after{
        content: '';
        display: block;
        background-image: url('../img/erarta-logotype.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 125px;
        height: 27px;
        margin: 5px auto 5px;
      }
    }
    p:nth-of-type(2){
      font-weight: bold;
      font-size: 14px;
      line-height: (22/14);
    }
    p:nth-of-type(3){
      font-size: 14px;
      line-height: (22/14);
    }
  }
}
