// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$s-app-android-name: 's-app-android';
$s-app-android-x: 291px;
$s-app-android-y: 123px;
$s-app-android-offset-x: -291px;
$s-app-android-offset-y: -123px;
$s-app-android-width: 15px;
$s-app-android-height: 16px;
$s-app-android-total-width: 358px;
$s-app-android-total-height: 306px;
$s-app-android-image: '../img/png-sprite.png';
$s-app-android: (291px, 123px, -291px, -123px, 15px, 16px, 358px, 306px, '../img/png-sprite.png', 's-app-android', );
$s-app-ios-name: 's-app-ios';
$s-app-ios-x: 348px;
$s-app-ios-y: 82px;
$s-app-ios-offset-x: -348px;
$s-app-ios-offset-y: -82px;
$s-app-ios-width: 9px;
$s-app-ios-height: 16px;
$s-app-ios-total-width: 358px;
$s-app-ios-total-height: 306px;
$s-app-ios-image: '../img/png-sprite.png';
$s-app-ios: (348px, 82px, -348px, -82px, 9px, 16px, 358px, 306px, '../img/png-sprite.png', 's-app-ios', );
$s-arrow-left-hover-name: 's-arrow-left-hover';
$s-arrow-left-hover-x: 336px;
$s-arrow-left-hover-y: 41px;
$s-arrow-left-hover-offset-x: -336px;
$s-arrow-left-hover-offset-y: -41px;
$s-arrow-left-hover-width: 19px;
$s-arrow-left-hover-height: 27px;
$s-arrow-left-hover-total-width: 358px;
$s-arrow-left-hover-total-height: 306px;
$s-arrow-left-hover-image: '../img/png-sprite.png';
$s-arrow-left-hover: (336px, 41px, -336px, -41px, 19px, 27px, 358px, 306px, '../img/png-sprite.png', 's-arrow-left-hover', );
$s-arrow-left-name: 's-arrow-left';
$s-arrow-left-x: 202px;
$s-arrow-left-y: 225px;
$s-arrow-left-offset-x: -202px;
$s-arrow-left-offset-y: -225px;
$s-arrow-left-width: 19px;
$s-arrow-left-height: 27px;
$s-arrow-left-total-width: 358px;
$s-arrow-left-total-height: 306px;
$s-arrow-left-image: '../img/png-sprite.png';
$s-arrow-left: (202px, 225px, -202px, -225px, 19px, 27px, 358px, 306px, '../img/png-sprite.png', 's-arrow-left', );
$s-arrow-right-hover-name: 's-arrow-right-hover';
$s-arrow-right-hover-x: 223px;
$s-arrow-right-hover-y: 225px;
$s-arrow-right-hover-offset-x: -223px;
$s-arrow-right-hover-offset-y: -225px;
$s-arrow-right-hover-width: 19px;
$s-arrow-right-hover-height: 27px;
$s-arrow-right-hover-total-width: 358px;
$s-arrow-right-hover-total-height: 306px;
$s-arrow-right-hover-image: '../img/png-sprite.png';
$s-arrow-right-hover: (223px, 225px, -223px, -225px, 19px, 27px, 358px, 306px, '../img/png-sprite.png', 's-arrow-right-hover', );
$s-arrow-right-name: 's-arrow-right';
$s-arrow-right-x: 244px;
$s-arrow-right-y: 225px;
$s-arrow-right-offset-x: -244px;
$s-arrow-right-offset-y: -225px;
$s-arrow-right-width: 19px;
$s-arrow-right-height: 27px;
$s-arrow-right-total-width: 358px;
$s-arrow-right-total-height: 306px;
$s-arrow-right-image: '../img/png-sprite.png';
$s-arrow-right: (244px, 225px, -244px, -225px, 19px, 27px, 358px, 306px, '../img/png-sprite.png', 's-arrow-right', );
$s-btn-another-name: 's-btn-another';
$s-btn-another-x: 200px;
$s-btn-another-y: 41px;
$s-btn-another-offset-x: -200px;
$s-btn-another-offset-y: -41px;
$s-btn-another-width: 134px;
$s-btn-another-height: 39px;
$s-btn-another-total-width: 358px;
$s-btn-another-total-height: 306px;
$s-btn-another-image: '../img/png-sprite.png';
$s-btn-another: (200px, 41px, -200px, -41px, 134px, 39px, 358px, 306px, '../img/png-sprite.png', 's-btn-another', );
$s-btn-form-hover-name: 's-btn-form-hover';
$s-btn-form-hover-x: 0px;
$s-btn-form-hover-y: 45px;
$s-btn-form-hover-offset-x: 0px;
$s-btn-form-hover-offset-y: -45px;
$s-btn-form-hover-width: 196px;
$s-btn-form-hover-height: 41px;
$s-btn-form-hover-total-width: 358px;
$s-btn-form-hover-total-height: 306px;
$s-btn-form-hover-image: '../img/png-sprite.png';
$s-btn-form-hover: (0px, 45px, 0px, -45px, 196px, 41px, 358px, 306px, '../img/png-sprite.png', 's-btn-form-hover', );
$s-btn-form-name: 's-btn-form';
$s-btn-form-x: 0px;
$s-btn-form-y: 0px;
$s-btn-form-offset-x: 0px;
$s-btn-form-offset-y: 0px;
$s-btn-form-width: 198px;
$s-btn-form-height: 43px;
$s-btn-form-total-width: 358px;
$s-btn-form-total-height: 306px;
$s-btn-form-image: '../img/png-sprite.png';
$s-btn-form: (0px, 0px, 0px, 0px, 198px, 43px, 358px, 306px, '../img/png-sprite.png', 's-btn-form', );
$s-btn-register-hover-name: 's-btn-register-hover';
$s-btn-register-hover-x: 0px;
$s-btn-register-hover-y: 129px;
$s-btn-register-hover-offset-x: 0px;
$s-btn-register-hover-offset-y: -129px;
$s-btn-register-hover-width: 190px;
$s-btn-register-hover-height: 39px;
$s-btn-register-hover-total-width: 358px;
$s-btn-register-hover-total-height: 306px;
$s-btn-register-hover-image: '../img/png-sprite.png';
$s-btn-register-hover: (0px, 129px, 0px, -129px, 190px, 39px, 358px, 306px, '../img/png-sprite.png', 's-btn-register-hover', );
$s-btn-register-name: 's-btn-register';
$s-btn-register-x: 0px;
$s-btn-register-y: 88px;
$s-btn-register-offset-x: 0px;
$s-btn-register-offset-y: -88px;
$s-btn-register-width: 190px;
$s-btn-register-height: 39px;
$s-btn-register-total-width: 358px;
$s-btn-register-total-height: 306px;
$s-btn-register-image: '../img/png-sprite.png';
$s-btn-register: (0px, 88px, 0px, -88px, 190px, 39px, 358px, 306px, '../img/png-sprite.png', 's-btn-register', );
$s-btn-spb-name: 's-btn-spb';
$s-btn-spb-x: 200px;
$s-btn-spb-y: 0px;
$s-btn-spb-offset-x: -200px;
$s-btn-spb-offset-y: 0px;
$s-btn-spb-width: 158px;
$s-btn-spb-height: 39px;
$s-btn-spb-total-width: 358px;
$s-btn-spb-total-height: 306px;
$s-btn-spb-image: '../img/png-sprite.png';
$s-btn-spb: (200px, 0px, -200px, 0px, 158px, 39px, 358px, 306px, '../img/png-sprite.png', 's-btn-spb', );
$s-calendar-hover-name: 's-calendar-hover';
$s-calendar-hover-x: 200px;
$s-calendar-hover-y: 142px;
$s-calendar-hover-offset-x: -200px;
$s-calendar-hover-offset-y: -142px;
$s-calendar-hover-width: 22px;
$s-calendar-hover-height: 22px;
$s-calendar-hover-total-width: 358px;
$s-calendar-hover-total-height: 306px;
$s-calendar-hover-image: '../img/png-sprite.png';
$s-calendar-hover: (200px, 142px, -200px, -142px, 22px, 22px, 358px, 306px, '../img/png-sprite.png', 's-calendar-hover', );
$s-calendar-name: 's-calendar';
$s-calendar-x: 224px;
$s-calendar-y: 142px;
$s-calendar-offset-x: -224px;
$s-calendar-offset-y: -142px;
$s-calendar-width: 22px;
$s-calendar-height: 22px;
$s-calendar-total-width: 358px;
$s-calendar-total-height: 306px;
$s-calendar-image: '../img/png-sprite.png';
$s-calendar: (224px, 142px, -224px, -142px, 22px, 22px, 358px, 306px, '../img/png-sprite.png', 's-calendar', );
$s-checked-name: 's-checked';
$s-checked-x: 290px;
$s-checked-y: 142px;
$s-checked-offset-x: -290px;
$s-checked-offset-y: -142px;
$s-checked-width: 19px;
$s-checked-height: 19px;
$s-checked-total-width: 358px;
$s-checked-total-height: 306px;
$s-checked-image: '../img/png-sprite.png';
$s-checked: (290px, 142px, -290px, -142px, 19px, 19px, 358px, 306px, '../img/png-sprite.png', 's-checked', );
$s-checked2-name: 's-checked2';
$s-checked2-x: 308px;
$s-checked2-y: 123px;
$s-checked2-offset-x: -308px;
$s-checked2-offset-y: -123px;
$s-checked2-width: 14px;
$s-checked2-height: 14px;
$s-checked2-total-width: 358px;
$s-checked2-total-height: 306px;
$s-checked2-image: '../img/png-sprite.png';
$s-checked2: (308px, 123px, -308px, -123px, 14px, 14px, 358px, 306px, '../img/png-sprite.png', 's-checked2', );
$s-download-name: 's-download';
$s-download-x: 162px;
$s-download-y: 225px;
$s-download-offset-x: -162px;
$s-download-offset-y: -225px;
$s-download-width: 38px;
$s-download-height: 38px;
$s-download-total-width: 358px;
$s-download-total-height: 306px;
$s-download-image: '../img/png-sprite.png';
$s-download: (162px, 225px, -162px, -225px, 38px, 38px, 358px, 306px, '../img/png-sprite.png', 's-download', );
$s-home-name: 's-home';
$s-home-x: 252px;
$s-home-y: 123px;
$s-home-offset-x: -252px;
$s-home-offset-y: -123px;
$s-home-width: 19px;
$s-home-height: 17px;
$s-home-total-width: 358px;
$s-home-total-height: 306px;
$s-home-image: '../img/png-sprite.png';
$s-home: (252px, 123px, -252px, -123px, 19px, 17px, 358px, 306px, '../img/png-sprite.png', 's-home', );
$s-loupe-name: 's-loupe';
$s-loupe-x: 273px;
$s-loupe-y: 123px;
$s-loupe-offset-x: -273px;
$s-loupe-offset-y: -123px;
$s-loupe-width: 16px;
$s-loupe-height: 17px;
$s-loupe-total-width: 358px;
$s-loupe-total-height: 306px;
$s-loupe-image: '../img/png-sprite.png';
$s-loupe: (273px, 123px, -273px, -123px, 16px, 17px, 358px, 306px, '../img/png-sprite.png', 's-loupe', );
$s-partners-business-name: 's-partners-business';
$s-partners-business-x: 0px;
$s-partners-business-y: 170px;
$s-partners-business-offset-x: 0px;
$s-partners-business-offset-y: -170px;
$s-partners-business-width: 195px;
$s-partners-business-height: 25px;
$s-partners-business-total-width: 358px;
$s-partners-business-total-height: 306px;
$s-partners-business-image: '../img/png-sprite.png';
$s-partners-business: (0px, 170px, 0px, -170px, 195px, 25px, 358px, 306px, '../img/png-sprite.png', 's-partners-business', );
$s-partners-gold-name: 's-partners-gold';
$s-partners-gold-x: 0px;
$s-partners-gold-y: 197px;
$s-partners-gold-offset-x: 0px;
$s-partners-gold-offset-y: -197px;
$s-partners-gold-width: 174px;
$s-partners-gold-height: 26px;
$s-partners-gold-total-width: 358px;
$s-partners-gold-total-height: 306px;
$s-partners-gold-image: '../img/png-sprite.png';
$s-partners-gold: (0px, 197px, 0px, -197px, 174px, 26px, 358px, 306px, '../img/png-sprite.png', 's-partners-gold', );
$s-partners-silver-name: 's-partners-silver';
$s-partners-silver-x: 176px;
$s-partners-silver-y: 197px;
$s-partners-silver-offset-x: -176px;
$s-partners-silver-offset-y: -197px;
$s-partners-silver-width: 173px;
$s-partners-silver-height: 26px;
$s-partners-silver-total-width: 358px;
$s-partners-silver-total-height: 306px;
$s-partners-silver-image: '../img/png-sprite.png';
$s-partners-silver: (176px, 197px, -176px, -197px, 173px, 26px, 358px, 306px, '../img/png-sprite.png', 's-partners-silver', );
$s-pin-black-name: 's-pin-black';
$s-pin-black-x: 332px;
$s-pin-black-y: 142px;
$s-pin-black-offset-x: -332px;
$s-pin-black-offset-y: -142px;
$s-pin-black-width: 12px;
$s-pin-black-height: 18px;
$s-pin-black-total-width: 358px;
$s-pin-black-total-height: 306px;
$s-pin-black-image: '../img/png-sprite.png';
$s-pin-black: (332px, 142px, -332px, -142px, 12px, 18px, 358px, 306px, '../img/png-sprite.png', 's-pin-black', );
$s-print-hover-name: 's-print-hover';
$s-print-hover-x: 269px;
$s-print-hover-y: 142px;
$s-print-hover-offset-x: -269px;
$s-print-hover-offset-y: -142px;
$s-print-hover-width: 19px;
$s-print-hover-height: 19px;
$s-print-hover-total-width: 358px;
$s-print-hover-total-height: 306px;
$s-print-hover-image: '../img/png-sprite.png';
$s-print-hover: (269px, 142px, -269px, -142px, 19px, 19px, 358px, 306px, '../img/png-sprite.png', 's-print-hover', );
$s-print-name: 's-print';
$s-print-x: 311px;
$s-print-y: 142px;
$s-print-offset-x: -311px;
$s-print-offset-y: -142px;
$s-print-width: 19px;
$s-print-height: 19px;
$s-print-total-width: 358px;
$s-print-total-height: 306px;
$s-print-image: '../img/png-sprite.png';
$s-print: (311px, 142px, -311px, -142px, 19px, 19px, 358px, 306px, '../img/png-sprite.png', 's-print', );
$s-social-email-name: 's-social-email';
$s-social-email-x: 122px;
$s-social-email-y: 225px;
$s-social-email-offset-x: -122px;
$s-social-email-offset-y: -225px;
$s-social-email-width: 38px;
$s-social-email-height: 38px;
$s-social-email-total-width: 358px;
$s-social-email-total-height: 306px;
$s-social-email-image: '../img/png-sprite.png';
$s-social-email: (122px, 225px, -122px, -225px, 38px, 38px, 358px, 306px, '../img/png-sprite.png', 's-social-email', );
$s-social-fb-name: 's-social-fb';
$s-social-fb-x: 82px;
$s-social-fb-y: 225px;
$s-social-fb-offset-x: -82px;
$s-social-fb-offset-y: -225px;
$s-social-fb-width: 38px;
$s-social-fb-height: 38px;
$s-social-fb-total-width: 358px;
$s-social-fb-total-height: 306px;
$s-social-fb-image: '../img/png-sprite.png';
$s-social-fb: (82px, 225px, -82px, -225px, 38px, 38px, 358px, 306px, '../img/png-sprite.png', 's-social-fb', );
$s-social-tel-name: 's-social-tel';
$s-social-tel-x: 42px;
$s-social-tel-y: 225px;
$s-social-tel-offset-x: -42px;
$s-social-tel-offset-y: -225px;
$s-social-tel-width: 38px;
$s-social-tel-height: 38px;
$s-social-tel-total-width: 358px;
$s-social-tel-total-height: 306px;
$s-social-tel-image: '../img/png-sprite.png';
$s-social-tel: (42px, 225px, -42px, -225px, 38px, 38px, 358px, 306px, '../img/png-sprite.png', 's-social-tel', );
$s-speakers-burger-name: 's-speakers-burger';
$s-speakers-burger-x: 336px;
$s-speakers-burger-y: 70px;
$s-speakers-burger-offset-x: -336px;
$s-speakers-burger-offset-y: -70px;
$s-speakers-burger-width: 12px;
$s-speakers-burger-height: 10px;
$s-speakers-burger-total-width: 358px;
$s-speakers-burger-total-height: 306px;
$s-speakers-burger-image: '../img/png-sprite.png';
$s-speakers-burger: (336px, 70px, -336px, -70px, 12px, 10px, 358px, 306px, '../img/png-sprite.png', 's-speakers-burger', );
$s-trend1-name: 's-trend1';
$s-trend1-x: 0px;
$s-trend1-y: 225px;
$s-trend1-offset-x: 0px;
$s-trend1-offset-y: -225px;
$s-trend1-width: 40px;
$s-trend1-height: 40px;
$s-trend1-total-width: 358px;
$s-trend1-total-height: 306px;
$s-trend1-image: '../img/png-sprite.png';
$s-trend1: (0px, 225px, 0px, -225px, 40px, 40px, 358px, 306px, '../img/png-sprite.png', 's-trend1', );
$s-trend2-name: 's-trend2';
$s-trend2-x: 301px;
$s-trend2-y: 82px;
$s-trend2-offset-x: -301px;
$s-trend2-offset-y: -82px;
$s-trend2-width: 45px;
$s-trend2-height: 38px;
$s-trend2-total-width: 358px;
$s-trend2-total-height: 306px;
$s-trend2-image: '../img/png-sprite.png';
$s-trend2: (301px, 82px, -301px, -82px, 45px, 38px, 358px, 306px, '../img/png-sprite.png', 's-trend2', );
$s-trend3-name: 's-trend3';
$s-trend3-x: 0px;
$s-trend3-y: 267px;
$s-trend3-offset-x: 0px;
$s-trend3-offset-y: -267px;
$s-trend3-width: 27px;
$s-trend3-height: 39px;
$s-trend3-total-width: 358px;
$s-trend3-total-height: 306px;
$s-trend3-image: '../img/png-sprite.png';
$s-trend3: (0px, 267px, 0px, -267px, 27px, 39px, 358px, 306px, '../img/png-sprite.png', 's-trend3', );
$s-trend4-name: 's-trend4';
$s-trend4-x: 200px;
$s-trend4-y: 82px;
$s-trend4-offset-x: -200px;
$s-trend4-offset-y: -82px;
$s-trend4-width: 50px;
$s-trend4-height: 58px;
$s-trend4-total-width: 358px;
$s-trend4-total-height: 306px;
$s-trend4-image: '../img/png-sprite.png';
$s-trend4: (200px, 82px, -200px, -82px, 50px, 58px, 358px, 306px, '../img/png-sprite.png', 's-trend4', );
$s-trend5-name: 's-trend5';
$s-trend5-x: 252px;
$s-trend5-y: 82px;
$s-trend5-offset-x: -252px;
$s-trend5-offset-y: -82px;
$s-trend5-width: 47px;
$s-trend5-height: 39px;
$s-trend5-total-width: 358px;
$s-trend5-total-height: 306px;
$s-trend5-image: '../img/png-sprite.png';
$s-trend5: (252px, 82px, -252px, -82px, 47px, 39px, 358px, 306px, '../img/png-sprite.png', 's-trend5', );
$s-unchecked-name: 's-unchecked';
$s-unchecked-x: 248px;
$s-unchecked-y: 142px;
$s-unchecked-offset-x: -248px;
$s-unchecked-offset-y: -142px;
$s-unchecked-width: 19px;
$s-unchecked-height: 19px;
$s-unchecked-total-width: 358px;
$s-unchecked-total-height: 306px;
$s-unchecked-image: '../img/png-sprite.png';
$s-unchecked: (248px, 142px, -248px, -142px, 19px, 19px, 358px, 306px, '../img/png-sprite.png', 's-unchecked', );
$s-unchecked2-name: 's-unchecked2';
$s-unchecked2-x: 324px;
$s-unchecked2-y: 123px;
$s-unchecked2-offset-x: -324px;
$s-unchecked2-offset-y: -123px;
$s-unchecked2-width: 14px;
$s-unchecked2-height: 14px;
$s-unchecked2-total-width: 358px;
$s-unchecked2-total-height: 306px;
$s-unchecked2-image: '../img/png-sprite.png';
$s-unchecked2: (324px, 123px, -324px, -123px, 14px, 14px, 358px, 306px, '../img/png-sprite.png', 's-unchecked2', );
$spritesheet-width: 358px;
$spritesheet-height: 306px;
$spritesheet-image: '../img/png-sprite.png';
$spritesheet-sprites: ($s-app-android, $s-app-ios, $s-arrow-left-hover, $s-arrow-left, $s-arrow-right-hover, $s-arrow-right, $s-btn-another, $s-btn-form-hover, $s-btn-form, $s-btn-register-hover, $s-btn-register, $s-btn-spb, $s-calendar-hover, $s-calendar, $s-checked, $s-checked2, $s-download, $s-home, $s-loupe, $s-partners-business, $s-partners-gold, $s-partners-silver, $s-pin-black, $s-print-hover, $s-print, $s-social-email, $s-social-fb, $s-social-tel, $s-speakers-burger, $s-trend1, $s-trend2, $s-trend3, $s-trend4, $s-trend5, $s-unchecked, $s-unchecked2, );
$spritesheet: (358px, 306px, '../img/png-sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
