mixin address()

  +b.SECTION.address(id="address")
    +e.H2.title Место проведения Форума
    +e.map
      .container
        +b.address-head Музей современного искусства Erarta:
          span Санкт-Петербург, 29-я линия В.О., д.2
          +e.A.btn(href="#map") Увеличить карту проезда
    +e.map-img








