mixin footer()

  // Footer
  +b.FOOTER.footer(id="contacts")
    +e.links
      .container
        +e.inner
          +e.block
            p Официальная страница:
            p
              a(href="#") facebook.com/rrcgroup/
          +e.block
            p Телефон:
            p
              a(href="tel:+7(812)325-15-10") +7 (812)
                span 325-15-10
          +e.block
            p Электронная почта:
            p
              a(href="mailto:Rostovskaya_j@rrc.ru") Rostovskaya_j@rrc.ru
          +e.block
            p Скачать приложение:
            p
              a(href="#") для Android
              a(href="#") для iOs
    +e.copyright 2017 © RRC REvolution Forum. Санкт-Петербург.


  // Overlay
  +b.overlay
    +e.bg
    +e.inner
      // Popup map
      +b.SECTION.popup--map(id='map')
        +e.close(href="#")
        +e.H2.title Место проведения форума
        +e.frame(id="YMapsID")
          //- div(id="YMapsID" style="width: 450px; height: 350px;")
        +e.address
          +b.address-head Музей современного искусства Erarta:
            span Санкт-Петербург, 29-я линия В.О., д.2
      // Popup programm 1
      +b.SECTION.popup--programm1(id='culture1')
        +e.close(href="#")
        +e.H2.title Парадный Петергоф
        +e.img
          img(src="img/banners/banner1.jpg", alt="Парадный Петергоф")
        +e.text-wrapper
          +e.info
            p
              span Формат:
              |  экскурсия
            p
              span Продолжительность:
              |  3 часа
          +e.text
            p Санкт-Петербург по праву называют городом-музеем, уникальными «экспонатами» которого являются его роскошные дворцы и величественные соборы, разнообразные мосты и гранитные набережные, оригинальные фонари и ажурные решетки.
            p Они составляют «золотой фонд» императорского Петербурга, уникальное собрание шедевров архитектуры и искусства. Но совершенно особое место в этой «сокровищнице» занимает всемирно знаменитый Эрмитаж, располагающийся в Зимнем дворце. Шикарные интерьеры и экспозиция, насчитывающая более 3 миллионов экспонатов, позволяют занимать Эрмитажу место в первой пятерке лучших музеев мира.
      // Popup programm 2
      +b.SECTION.popup--programm2(id='culture2')
        +e.close(href="#")
        +e.H2.title Взять Зимний — авторская экскурсия по Эрмитажу
        +e.img
          img(src="img/banners/banner2.jpg", alt="Взять Зимний — авторская экскурсия по Эрмитажу")
        +e.text-wrapper
          +e.info
            p
              span Формат:
              |  экскурсия
            p
              span Продолжительность:
              |  3 часа
          +e.text
            p Санкт-Петербург по праву называют городом-музеем, уникальными «экспонатами» которого являются его роскошные дворцы и величественные соборы, разнообразные мосты и гранитные набережные, оригинальные фонари и ажурные решетки. Они составляют «золотой фонд» императорского Петербурга, уникальное собрание шедевров архитектуры и искусства. Но совершенно особое место в этой «сокровищнице» занимает всемирно знаменитый Эрмитаж, располагающийся в Зимнем дворце. Шикарные интерьеры и экспозиция, насчитывающая более 3 миллионов экспонатов, позволяют занимать Эрмитажу место в первой пятерке лучших музеев мира.
      // Popup programm 3
      +b.SECTION.popup--programm3(id='culture3')
        +e.close(href="#")
        +e.H2.title Русский музей — колыбель революции в русском искусстве
        +e.img
          img(src="img/banners/banner3.jpg", alt="Русский музей — колыбель революции в русском искусстве")
        +e.text-wrapper
          +e.info
            p
              span Формат:
              |  экскурсия
            p
              span Продолжительность:
              |  3,5 часа
          +e.text
            p Русский музей — крупнейший в мире музей русского искусства, уникальный архитектурно-художественный комплекс в историческом центре Санкт-Петербурга. Это первый в стране государственный музей русского изобразительного искусства. Решение о его основании было принято Александром III. Гости во время увлекательной экскурсии научатся разбираться в искусстве с древних времен до настоящих дней. После осмотра экспозиции нас ждет прогулка по Летнему саду — месту легендарному, элегантному и любимому горожанами и гостями Петербурга.
      // Popup programm 4
      +b.SECTION.popup--programm4(id='culture4')
        +e.close(href="#")
        +e.H2.title Выстрел с Невы
        +e.img
          img(src="img/banners/banner4.jpg", alt="Выстрел с Невы")
        +e.text-wrapper
          +e.info
            p
              span Формат:
              |  экскурсия
            p
              span Продолжительность:
              |  3,5 часа
          +e.text
            p Экскурсия начнется с посещения легендарного крейсера Аврора, без которого невозможно представить историю революции. После нас ждет прогулка по рекам и каналам на теплоходике. Петербург — город морской славы, окно в Европу. Он пронизан водными артериями, ведь не зря его называют «Северной Венецией». Город с воды совсем другой, он покажет новые грани и ракурсы.
      // Popup programm 5
      +b.SECTION.popup--programm5(id='culture5')
        +e.close(href="#")
        +e.H2.title В Питере — пить!
        +e.img
          img(src="img/banners/banner5.jpg", alt="В Питере — пить!")
        +e.text-wrapper
          +e.info
            p
              span Формат:
              |  квест
            p
              span Продолжительность:
              |  3-3,5 часа
          +e.text
            p Начнется квест с улицы «Рублинштейна». После чего гости отведают отменной шавермы в шаурмичной (шаурменной)? И в сопровождении наших экскурсоводов в образах персонажей клипа с отравятся в увлекательный алкотрип. Знаменитая и любимая всеми барно-ресторанная Рублинштейна, Кузнечный, Ломоносова, Думская, превратившиеся в одно время из рядовых улиц в центр европейской барной культуры.
      // Popup programm 6
      +b.SECTION.popup--programm6(id='culture6')
        +e.close(href="#")
        +e.H2.title Крыши и парадные Петербурга
        +e.img
          img(src="img/banners/banner6.jpg", alt="Крыши и парадные Петербурга")
        +e.text-wrapper
          +e.info
            p
              span Формат:
              |  экскурсия
            p
              span Продолжительность:
              |  2-2,5 часа
          +e.text
            p Любителям экстрима мы можем предложить несколько маршрутов по крышам нашего города, центр, ВО, Петроградская сторона. Головокружительные виды и неожиданные ракурсы. Все это прекрасно сочетается с посещением уникальных парадных подъездов, прекрасно сохранившихся с дореволюционной эпохи, или наоборот, напоминающих о советском наследии и дающих возможность заглянуть одним глазком в жизнь питерской коммуналки. Нетривиальный взгляд на город, абсолютно новые эмоции!
      // Popup programm 7
      +b.SECTION.popup--programm7(id='culture7')
        +e.close(href="#")
        +e.H2.title Бандитский Петербург
        +e.img
          img(src="img/banners/banner7.jpg", alt="Бандитский Петербург")
        +e.text-wrapper
          +e.info
            p
              span Формат:
              |  экскурсия, квест-экскурсия
            p
              span Продолжительность:
              |  3 часа
          +e.text
            p Герои фильмов Алексея Балабанова («Брат», «Кочегар», «Я тоже хочу») задаются философскими вопросами, разгуливая по Васильевскому острову. В неспешной пешеходной или велосипедной прогулке по самому большому острову в дельте реки Невы, мы вспомним Гофмана, Кэт, Кочегара, вагоновожатую Свету, музыканта Олега, братьев — киллеров. Может, Петербург 90-х только спрятался в подворотнях старых домов и просторах новых проспектов, затаился и ждет «вскрытия»? Также пройдемся по знаменитым и знаковым местам 90-х.
      // Popup programm 8
      +b.SECTION.popup--programm8(id='culture8')
        +e.close(href="#")
        +e.H2.title КиноПетербург
        +e.img
          img(src="img/banners/banner8.jpg", alt="КиноПетербург")
        +e.text-wrapper
          +e.info
            p
              span Формат:
              |  экскурсия
            p
              span Продолжительность:
              |  2-2,5 часа
          +e.text
            p Петербург — лучшая натура не только для исторических реконструкций. Герои фильмов «Приключения итальянцев в России», «Брат», «Асса», «Бедный, Бедный Павел», «Кококо», «Прогулка», «Питер ФМ», «Бандитский Петербург» бродят, бегут , страдают, плачут, смеются и поют на берегах Невы, Фонтанки, Мойки… Петербург — как живая декорация к любимым фильмам. Увидеть вживую такие знакомые места, прочувствовать атмосферу и влюбиться в город!





