mixin footer()

  // Footer
  +b.FOOTER.footer(id="contacts")
    +e.links
      .container
        +e.inner
          +e.block
            p Официальная страница:
            p
              a(href="#") facebook.com/rrcgroup/
          +e.block
            p Телефон:
            p
              a(href="tel:+7(812)325-15-10") +7 (812)
                span 325-15-10
          +e.block
            p Электронная почта:
            p
              a(href="mailto:Rostovskaya_j@rrc.ru") Rostovskaya_j@rrc.ru
          +e.block
            p Скачать приложение:
            p
              a(href="#") для Android
              a(href="#") для iOs
    +e.copyright 2017 © RRC REvolution Forum. Санкт-Петербург.


  // Overlay
  +b.overlay
    +e.bg
    +e.inner
      // Popup map
      +b.SECTION.popup--map(id='map')
        +e.close(href="#")
        +e.H2.title Место проведения форума
        +e.frame(id="YMapsID")
          //- div(id="YMapsID" style="width: 450px; height: 350px;")
        +e.address
          +b.address-head Музей современного искусства Erarta:
            span Санкт-Петербург, 29-я линия В.О., д.2
      // Popup programm 1
      +b.SECTION.popup--programm1(id='culture1')
        +e.close(href="#")
        +e.H2.title Взять Зимний — авторская экскурсия по Эрмитажу
        +e.img
          img(src="img/banner-winter-museum.jpg", alt="")
        +e.text-wrapper
          +e.info
            p
              span Формат:
              |  экскурсия
            p
              span Продолжительность:
              |  3 часа
          +e.text
            p Санкт-Петербург по праву называют городом-музеем, уникальными «экспонатами» которого являются его роскошные дворцы и величественные соборы, разнообразные мосты и гранитные набережные, оригинальные фонари и ажурные решетки.
            p Они составляют «золотой фонд» императорского Петербурга, уникальное собрание шедевров архитектуры и искусства. Но совершенно особое место в этой «сокровищнице» занимает всемирно знаменитый Эрмитаж, располагающийся в Зимнем дворце. Шикарные интерьеры и экспозиция, насчитывающая более 3 миллионов экспонатов, позволяют занимать Эрмитажу место в первой пятерке лучших музеев мира.
      // Popup programm 2
      +b.SECTION.popup--programm2(id='culture2')
        +e.close(href="#")
        +e.H2.title Взять Зимний — авторская экскурсия по Эрмитажу
        +e.img
          img(src="img/banner-winter-museum.jpg", alt="")
        +e.text-wrapper
          +e.info
            p Формат: экскурсия
            p Продолжительность: 3 часа
          +e.text
            p Санкт-Петербург по праву называют городом-музеем, уникальными «экспонатами» которого являются его роскошные дворцы и величественные соборы, разнообразные мосты и гранитные набережные, оригинальные фонари и ажурные решетки.
            p Они составляют «золотой фонд» императорского Петербурга, уникальное собрание шедевров архитектуры и искусства. Но совершенно особое место в этой «сокровищнице» занимает всемирно знаменитый Эрмитаж, располагающийся в Зимнем дворце. Шикарные интерьеры и экспозиция, насчитывающая более 3 миллионов экспонатов, позволяют занимать Эрмитажу место в первой пятерке лучших музеев мира.
      // Popup programm 3
      +b.SECTION.popup--programm3(id='culture3')
        +e.close(href="#")
        +e.H2.title Взять Зимний — авторская экскурсия по Эрмитажу
        +e.img
          img(src="img/banner-winter-museum.jpg", alt="")
        +e.text-wrapper
          +e.info
            p Формат: экскурсия
            p Продолжительность: 3 часа
          +e.text
            p Санкт-Петербург по праву называют городом-музеем, уникальными «экспонатами» которого являются его роскошные дворцы и величественные соборы, разнообразные мосты и гранитные набережные, оригинальные фонари и ажурные решетки.
            p Они составляют «золотой фонд» императорского Петербурга, уникальное собрание шедевров архитектуры и искусства. Но совершенно особое место в этой «сокровищнице» занимает всемирно знаменитый Эрмитаж, располагающийся в Зимнем дворце. Шикарные интерьеры и экспозиция, насчитывающая более 3 миллионов экспонатов, позволяют занимать Эрмитажу место в первой пятерке лучших музеев мира.
      // Popup programm 4
      +b.SECTION.popup--programm2(id='culture4')
        +e.close(href="#")
        +e.H2.title Взять Зимний — авторская экскурсия по Эрмитажу
        +e.img
          img(src="img/banner-winter-museum.jpg", alt="")
        +e.text-wrapper
          +e.info
            p Формат: экскурсия
            p Продолжительность: 3 часа
          +e.text
            p Санкт-Петербург по праву называют городом-музеем, уникальными «экспонатами» которого являются его роскошные дворцы и величественные соборы, разнообразные мосты и гранитные набережные, оригинальные фонари и ажурные решетки.
            p Они составляют «золотой фонд» императорского Петербурга, уникальное собрание шедевров архитектуры и искусства. Но совершенно особое место в этой «сокровищнице» занимает всемирно знаменитый Эрмитаж, располагающийся в Зимнем дворце. Шикарные интерьеры и экспозиция, насчитывающая более 3 миллионов экспонатов, позволяют занимать Эрмитажу место в первой пятерке лучших музеев мира.






