mixin form()

  +b.SECTION.form(id="form")
    .container
      +e.H2.title Регистрация
      +e.FORM.inner(method='post', action='')
        +e.form-title Для регистрации необходимо заполнить все поля формы.
        +e.LABEL.label
          span Имя
          +e.INPUT.input(type='text', name='Имя', placeholder='Укажите ваше имя')
        +e.LABEL.label
          span Фамилия
          +e.INPUT.input(type='text', name='Фамилия', placeholder='Укажите вашу фамилию')
        +e.LABEL.label
          span Компания
          +e.INPUT.input(type='text', name='Компания', placeholder='Укажите наименование компании')
        +e.LABEL.label
          span Должность
          +e.INPUT.input(type='text', name='Должность', placeholder='Укажите вашу должность')
        +e.LABEL.label
          span Мобильный телефон
          +e.INPUT.input(type='tel', name='Мобильный телефон', placeholder='+7 (XXX) XXX-XX-XX')
        +e.LABEL.label
          span Электронная почта
          +e.INPUT.input(type='email', name='Электронная почта', placeholder='Укажите адрес вашей электронной почты')
        +e.LABEL.label--select
          span Город
          +e.SELECT.select(name='Город')
            option(selected disabled) Выберите ваш город
            option Санкт-Петербург
            option Москва
            option Екатеринбург
        +e.hotel-need Нужна ли Вам гостиница в Санкт-Петербурге?
          +e.need-option
            input(type='radio', id='radio1', name='Необходимость гостиницы', value='Гостиница нужна')
            label(for='radio1') Да
          +e.need-option
            input(type='radio', id='radio2', name='Необходимость гостиницы', value='Гостиница нет нужна')
            label(for='radio2') Нет
        +e.LABEL.label--calendar
          span Дата и время приезда
          +e.INPUT.input.calendar(type='text', id="calendar1", name='Дата и время приезда', placeholder='Выберите дату и время приезда')

        +e.programme-choice
          +e.choice-text
            span.bold Выберите программу,
            |  в которой вы хотели бы принять участие (организаторы вправе вносить изменения в программу в случае, если группа на какую-либо программу не будет набрана):
          +e.options
            +e.option
              input(type='checkbox', id='checkbox1', name='Программы', value='Парадный Петергоф')
              label(for='checkbox1') Парадный Петергоф
            +e.option
              input(type='checkbox', id='checkbox2', name='Программы', value='Взять Зимний!')
              label(for='checkbox2') Взять Зимний!
            +e.option
              input(type='checkbox', id='checkbox3', name='Программы', value='Русский музей и Летний сад')
              label(for='checkbox3') Русский музей и Летний сад
            +e.option
              input(type='checkbox', id='checkbox4', name='Программы', value='Выстрел с Невы')
              label(for='checkbox4') Выстрел с Невы
            +e.option
              input(type='checkbox', id='checkbox5', name='Программы', value='В Питере – пить!')
              label(for='checkbox5') В Питере – пить!
            +e.option
              input(type='checkbox', id='checkbox6', name='Программы', value='Крыши и парадные Петербурга')
              label(for='checkbox6') Крыши и парадные Петербурга
            +e.option
              input(type='checkbox', id='checkbox7', name='Программы', value='Бандитский Петербург')
              label(for='checkbox7') Бандитский Петербург
            +e.option
              input(type='checkbox', id='checkbox8', name='Программы', value='КиноПетербург')
              label(for='checkbox8') КиноПетербург

        +e.LABEL.label--calendar
          span Дата и время приезда
          +e.INPUT.input.calendar(type='text', id="calendar2", name='Дата и время отъезда', placeholder='Выберите дату и время отъезда')

        +e.btn
          +b.BUTTON.btn(type='submit') Зарегистрироваться

      +e.overlay
        +e.message Ваша заявка отправлена





