mixin header()

  // Header
  +b.HEADER.header(id="header")
    +e.container.container
      +e.upper
      +e.bg
        +e.date
        +e.forum
        +e.aurora
        +e.city
          +b.city-choice
            +e.header Из какого вы города?
            +e.body
              +b.A.btn(href="index.html") Санкт-Петербург
              +b.A.btn(href="index.html") Другой город


      if block
        block

