- var siteName = "rrc"

// Head
head

  // Main Meta information
  meta(charset="utf-8")

  meta(http-equiv="content-type", content="text/html; charset=UTF-8")
  meta(http-equiv="x-ua-compatible", content="ie=edge")
  meta(name="format-detection", content="telephone=no")
  meta(name="viewport", content="width=device-width, user-scalable=yes, initial-scale=1.0")
  meta(name="keywords", content="")
  meta(name="description", content= siteName)
  meta(name="author", content="")

  title #{siteName}

  link(rel="icon", href="img/favicon.ico", type="image/x-icon")
  link(rel='stylesheet', href='css/style.min.css')

  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,600,700&subset=latin,cyrillic')

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")


