mixin header()

  // Header
  +b.HEADER.header(id="header")
    +e.container.container
      +e.bg
        +e.rrc
        +e.date
        +e.forum
        +e.partners
        +e.aurora

      if block
        block

