mixin nav()

  // Nav
  +b.NAV.nav
    .container
      +e.hamburger
        +b.A.hamburger(href="#")
          span
      +e.UL.list
        +e.item
          a(href="/", title="Главная страница")
        +e.item
          a(href="#trends") О форуме
        +e.item
          a(href="#speakers") Спикеры
        +e.item
          a(href="#programme") Программа
        +e.item
          a(href="#partners") Партнёры
        +e.item
          a(href="#address") Как добраться
        +e.item
          a(href="#contacts") Контакты
        +e.item
          +b.A.btn(href="#form") Зарегистрироваться

