mixin partners()

  +b.SECTION.partners(id="partners")
    +b.partners-list

      +e.H2.title Партнеры форума
      +e.blocks
        +b.partners-block
          +e.H3.title
            span Gold partners
          +e.pics
            .container
              +e.A.img(href="#", title="")
                img(src="img/logo/gold1.png", alt="gold partner")
              +e.A.img(href="#", title="")
                img(src="img/logo/gold2.png", alt="gold partner")
              +e.A.img(href="#", title="")
                img(src="img/logo/gold3.png", alt="gold partner")
        +b.partners-block
          +e.H3.title
            span Silver partners
          +e.pics
            .container
              +e.A.img(href="#", title="")
                img(src="img/logo/silver1.png", alt="silver partner")
              +e.A.img(href="#", title="")
                img(src="img/logo/silver2.png", alt="silver partner")
              +e.A.img(href="#", title="")
                img(src="img/logo/silver3.png", alt="silver partner")
        +b.partners-block
          +e.H3.title
            span Business partners
          +e.pics
            .container
              +e.A.img(href="#", title="")
                img(src="img/logo/business1.png", alt="business partner")
              +e.A.img(href="#", title="")
                img(src="img/logo/business2.png", alt="business partner")
              +e.A.img(href="#", title="")
                img(src="img/logo/business3.png", alt="business partner")
              +e.A.img(href="#", title="")
                img(src="img/logo/business4.png", alt="business partner")

    +b.partners-actions
      .container
        +e.blocks
          +b.action-block
            +e.content
              img(src="img/hashtag.jpg", alt="hashtag")
              +e.H3.title Создавай атмосферу RRC REF вместе с нами!
              +e.text Придумай лучший хештег для публикаций с Форума и получи всеобщую славу и, конечно же, приз! Победитель конкурса будет объявлен за неделю до начала Форума, приз вручим во время бизнес-части REF.
            +e.to-do
              h3 Что нужно сделать?
              ul
                li Придумай хештег
                li Выложи хештег в группе в Facebook:
                  a(href="#") @rrc.partnership
                li Следи за публикациями в группе
                li Получи приз, если твой хештег станет самым лучшим!

          +b.action-block
            +e.content
              img(src="img/child.jpg", alt="child")
              +e.H3.title Помоги детям стать храбрее!
              +e.text Внеси свой вклад в «Коробку храбрости» — коробку с игрушками, из которой находящиеся на лечении смелые дети смогут взять себе «награду» за перенесенные болезненные процедуры. В этом году наш социальный проект направлен на поддержку НИИ Детской гематологии и трансплантологии имени Р. Горбачёвой. Детям, проходящим там лечение, маленькие радости будут очень кстати!
            +e.to-do
              h3 Что нужно сделать?
              ul
                li Купи игрушку (можно: машинки, фигурки зверей, брелоки, пластиковые украшения для девочек (новая, маленькая (до 10 см) пластиковая, резиновая игрушка или игрушка в герметичной упаковке), НЕЛЬЗЯ: мягкие, картонные, любые б/у игрушки).
                li Принеси на Форум.
                li Найди специальную коробку для сбора игрушек и положи ее туда.
                li Улыбнись от мысли, что ты подарил маленькую радость ребенку.












