mixin programme()

  +b.SECTION.programme(id="programme")
    +b.programme-forum
      .container

        +e.H2.title Программа RRC REvolution Forum

        +e.blocks
          +b.forum-block
            +e.inner
              +e.H3.title 12 июля 2017
              +e.text
                p Прибытие в Санкт-Петербург, расселение.
          +b.forum-block
            +e.inner
              +e.H3.title 13 июля 2017
              +e.text
                p
                  span.date 10:00-11:00
                  |  Регистрация участников, кофе
                p
                  span.date 11:00-11:20
                  |  Вступительное слово
                p
                  span.date 11:20-11:50
                  |  Выступление приглашенного спикера, про дистрибьюцию или про стратегические тренды
                p
                  span.date 11:50-12:20
                  |  Выступление Циско
                p
                  span.date 12:20-12:50
                  |  Выступление Фуджитсу
                p
                  span.date 12:50-13:20
                  |  Выступление Авая
                p
                  span.date 13:20-14:10
                  |  Обед
          +b.forum-block
            +e.inner
              +e.H3.title Сессия 1 (основная)
              +e.text
                p
                  span.date 14:10-14:35
                  |  Выступление Яндекса
                p
                  span.date 14:35-15:00
                  |  Выступление Зебра
                p
                  span.date 15:00-15:25
                  |  Выступление агентства Контекст
                p
                  span.date 15:25-16:50
                  |  Выступление Ханивел
                p
                  span.date 16:50-17:15
                  |  Выступление Сколково
                p
                  span.date 17:15-17:35
                  |  Выступление Майкрософт
          +b.forum-block
            +e.inner
              +e.H3.title Сессия 2. Круглый стол 1
              +e.text
                p
                  span.date 14:10-14:50
                  |  Выступление Trimble
                p
                  span.date 14:50-15:30
                  |  Выступление Netgear
                p
                  span.date 15:30-16:10
                  |  Выступление Yealink
                p
                  span.date 16:10-16:50
                  |  Выступление FSR
          +b.forum-block
            +e.inner
              +e.H3.title Сессия 3. Круглый стол 1
              +e.text
                p
                  span.date 14:10-14:50
                  |  Выступление Cisco
                p
                  span.date 14:50-15:30
                  |  Выступление Brother
                p
                  span.date 15:30-16:10
                  |  Выступление Fujitsu
                p
                  span.date 16:10-16:50
                  |  Выступление Avaya
          +b.forum-block
            +e.inner
              +e.text
                +e.img
                  img(src="img/rock-concert.jpg", alt="")
                p
                  span.date 18:30-19:30
                  |  Праздничный фуршет и неформальное общение
                p
                  span.date 19:30-22:00
                  |  Концерт известной рок-группы, окончание мероприятия

          +b.forum-block
            +e.inner
              +e.H3.title 14 июля 2017
              +e.text
                p
                  span.date 8.00-9.00
                  |  Тренировка от RRC Run Club (место забега уточняется).
                p
                  span.date 12.00
                  |  Выезд из гостиницы.
                p
                  span.date 13.00
                  |  Открытие социального проекта.
        +e.link-wrapper
          +e.link(href="img/program-rrc-revolution-forum.pdf", target="_blank") Распечатать программу форума

    +b.programme-culture
      .container

        +e.H2.title Насыщенная networking-программа для гостей Северной столицы
        +e.blocks
          +b.A.culture-block(href="#culture1")
            +e.H3.title Парадный Петергоф
          +b.A.culture-block(href="#culture2")
            +e.H3.title Взять Зимний!
          +b.A.culture-block(href="#culture3")
            +e.H3.title Русский музей и Летний сад
          +b.A.culture-block(href="#culture4")
            +e.H3.title Выстрел с Невы
          +b.A.culture-block(href="#culture5")
            +e.H3.title В Питере – пить!
          +b.A.culture-block(href="#culture6")
            +e.H3.title Крыши и парадные Петербурга
          +b.A.culture-block(href="#culture7")
            +e.H3.title Бандитский Петербург
          +b.A.culture-block(href="#culture8")
            +e.H3.title КиноПетербург






