mixin speakers()

  +b.SECTION.speakers(id="speakers")
    .container

      +e.H2.title Спикеры форума

      +e.gallery
        +e.slide
          +b.speaker
            +e.inner
              +e.img
                img(src="img/speakers/haytin.jpg", alt="Александр Хайтин")
              +e.text-wrapper
                +e.H3.name Александр Хайтин
                +e.text Исполнительный директор Yandex Data Factory
          +b.speaker
            +e.inner
              +e.img
                img(src="img/speakers/ivanov.jpg", alt="Виктор Иванов")
              +e.text-wrapper
                +e.H3.name Виктор Иванов
                +e.text Директор по развитию бизнеса, Россия и страны Балтии, Context
        +e.slide
          +b.speaker
            +e.inner
              +e.img
                img(src="img/speakers/vystavkin.jpg", alt="Андрей Выставкин")
              +e.text-wrapper
                +e.H3.name Андрей Выставкин
                +e.text Менеджер по развитию гибридных инфраструктур Microsoft
          +b.speaker
            +e.inner
              +e.img
                img(src="img/speakers/poludnev.jpg", alt="Роман Полуднев")
              +e.text-wrapper
                +e.H3.name Роман Полуднев
                +e.text Директор департамента автоматической идентификации и сенсорного контроля, Honeywell
        +e.slide
          +b.speaker
            +e.inner
              +e.img
                img(src="img/speakers/kuznetsova.jpg", alt="Ирина Кузнецова")
              +e.text-wrapper
                +e.H3.name Ирина Кузнецова
                +e.text Ведущий менеджер по продаже сервиса, Cisco
          +b.speaker
            +e.inner
              +e.img
                img(src="img/speakers/starkov.jpg", alt="Пётр Старков")
              +e.text-wrapper
                +e.H3.name Пётр Старков
                +e.text Руководитель департамента корпоративных продаж, Netgear
        +e.slide
          +b.speaker
            +e.inner
              +e.img
                img(src="img/speakers/tihonov.jpg", alt="Павел Тихонов")
              +e.text-wrapper
                +e.H3.name Павел Тихонов
                +e.text Менеджер по развитию бизнеса, Brother
          +b.speaker
            +e.inner
              +e.img
                img(src="img/speakers/perevyazkin.jpg", alt="Алексей Перевязкин")
              +e.text-wrapper
                +e.H3.name Алексей Перевязкин
                +e.text Директор по работе c корпоративными клиентами, Cisco

      +e.A.link(href="#") Развернуть полный список





