mixin trends()

  +b.SECTION.trends(id="trends")
    .container

      +e.H2.title Основные тренды для обсуждения на форуме
      +e.inner
        +e.UL.facts
          +e.fact-item BigData и искусственный интеллект
          +e.fact-item Облачные сервисы и необходимая инфраструктура
          +e.fact-item Мобильность
          +e.fact-item Интернет вещей (IoT)
          +e.fact-item Информационная безопасность
        +e.place
          +e.img
            img(src="img/erarta.png", alt="erarta")
          +e.address
            p Место проведения:
            p Музей современного искусства
            p Санкт-Петербург, 29-я линия ВО, д.2




